In [1]:
high_schools = ["Hernandez High School", "Figueroa High School",
                "Wilson High School","Wright High School"]

In [21]:
for schools in high_schools:
    print(schools)

Hernandez High School
Figueroa High School
Wilson High School
Wright High School

In [22]:
# A dictionary of high schools and the type of school.
high_school_types = [{"High School": "Griffin", "Type":"District"},
                    {"High School": "Figueroa", "Type": "District"},
                    {"High School": "Wilson", "Type": "Charter"},
                    {"High School": "Wright", "Type": "Charter"}]

In [24]:
for key,value in high_school_types.items():
    print(key, '::', value)

AttributeError: 'list' object has no attribute 'items'

In [25]:
# List of high schools
high_schools = ["Huang High School",  "Figueroa High School", "Shelton High School", "Hernandez High School","Griffin High School","Wilson High School", "Cabrera High School", "Bailey High School", "Holden High School", "Pena High School", "Wright High School","Rodriguez High School", "Johnson High School", "Ford High School", "Thomas High School"]

In [26]:
# Add the Pandas dependency.
import pandas as pd

In [27]:
# Create a Pandas Series from a list.
school_series = pd.Series(high_schools)

In [28]:
# Create a Pandas Series from a list.
school_series = pd.Series(high_schools)
school_series

0         Huang High School
1      Figueroa High School
2       Shelton High School
3     Hernandez High School
4       Griffin High School
5        Wilson High School
6       Cabrera High School
7        Bailey High School
8        Holden High School
9          Pena High School
10       Wright High School
11    Rodriguez High School
12      Johnson High School
13         Ford High School
14       Thomas High School
dtype: object

In [33]:
for schools in school_series:
    print(schools)

Huang High School
Figueroa High School
Shelton High School
Hernandez High School
Griffin High School
Wilson High School
Cabrera High School
Bailey High School
Holden High School
Pena High School
Wright High School
Rodriguez High School
Johnson High School
Ford High School
Thomas High School

In [34]:
# A dictionary of high schools
high_school_dicts = [{"School ID": 0, "school_name": "Huang High    School", "type": "District"},
                   {"School ID": 1, "school_name": "Figueroa High School", "type": "District"},
                    {"School ID": 2, "school_name":"Shelton High School", "type": "Charter"},
                    {"School ID": 3, "school_name":"Hernandez High School", "type": "District"},
                    {"School ID": 4, "school_name":"Griffin High School", "type": "Charter"}]

In [35]:
# A DataFrame created based on that dictionary of HS.
school_df = pd.DataFrame(high_school_dicts)
school_df

   School ID            school_name      type
0          0   Huang High    School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [36]:
# Three separate lists of information on high schools
school_id = [0, 1, 2, 3, 4]

school_name = ["Huang High School", "Figueroa High School",
"Shelton High School", "Hernandez High School","Griffin High School"]

type_of_school = ["District", "District", "Charter", "District","Charter"]

In [37]:
# Initialize a new DataFrame.
schools_df = pd.DataFrame()

In [38]:
# Add the list to the new DataFrame.
schools_df["School ID"] = school_id

# Print the DataFrame.
schools_df

   School ID
0          0
1          1
2          2
3          3
4          4

In [39]:
# Add school names and types to the data frame.
schools_df["school_name"] = school_name
schools_df["type"] = type_of_school

# Print the updated DataFrame.
schools_df

   School ID            school_name      type
0          0      Huang High School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [40]:
# Create a dictionary of information on high schools.
high_schools_dict = {'School ID': school_id, 'school_name':school_name, 'type':type_of_school}

In [41]:
# Create an empty DataFrame for the HS dictionary.
high_schools_df = pd.DataFrame()

In [42]:
# Add the lists to the new DataFrame.
high_schools_df = pd.DataFrame(high_schools_dict)
high_schools_df

   School ID            school_name      type
0          0      Huang High School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [43]:
# Get the columns of the School DataFrame.
school_df.columns

Index(['School ID', 'school_name', 'type'], dtype='object')

In [44]:
# Get the indices of the School DataFrame. 
school_df.index
# This tells you the first and last index, and the increment.

RangeIndex(start=0, stop=5, step=1)

In [45]:
# Get the values of the School DataFrame.
school_df.values

array([[0, 'Huang High    School', 'District'],
       [1, 'Figueroa High School', 'District'],
       [2, 'Shelton High School', 'Charter'],
       [3, 'Hernandez High School', 'District'],
       [4, 'Griffin High School', 'Charter']], dtype=object)

In [48]:
school_id1 = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

school_name1 = ["Huang High School", "Figueroa High School",
"Shelton High School", "Hernandez High School","Griffin High School", "Wilson HS", "Cabrera HS", "Bailey HS", "Holden HS", "Pena HS", "Wright HS", "Rodriguez HS", "Johnson HS", "Ford HS", "Thomas HS"]

type_of_school1 = ["District", "District", "Charter", "District","Charter", "Charter", "Charter", "District", "Charter", "Charter", "Charter", "District", "District", "District", "Charter"]

In [49]:
# Create new DataFrame.
new_schools_df = pd.DataFrame()

# Add the lists to the new DataFrame.
new_schools_df["School ID"] = school_id1
new_schools_df["school_name"] = school_name1
new_schools_df["type"] = type_of_school1

In [50]:
new_schools_df

    School ID            school_name      type
0           0      Huang High School  District
1           1   Figueroa High School  District
2           2    Shelton High School   Charter
3           3  Hernandez High School  District
4           4    Griffin High School   Charter
5           5              Wilson HS   Charter
6           6             Cabrera HS   Charter
7           7              Bailey HS  District
8           8              Holden HS   Charter
9           9                Pena HS   Charter
10         10              Wright HS   Charter
11         11           Rodriguez HS  District
12         12             Johnson HS  District
13         13                Ford HS  District
14         14              Thomas HS   Charter